*{
	margin: 0;
	padding: 0;
	font-family: Arial;
}
.menuinfo{
	width: 100%;
	height: 100%;
	background-color: #212438;
	color: white;
	border-bottom: 5px solid #4a89dc;
	text-align: center;
	font-weight: bold;
}
.info{
	width: 80%;
	height: 100%;
	display: inline-block;
	text-align: left;
	margin-bottom: 3.5%;
	font-size: 14px;
	margin-top: 1%;
}
.info>span{
	margin-right: 3%;
	float: left;
	padding-top: 1.5%;
}
.info div{
	float: right;
	padding: 1%;
	border-radius: 30px;
	margin-top: .5%;
}
.info p{
	float: right;
	padding-top: 1%;
	margin-right: 1%;
}
.menu{
	width: 100%;
	height: 100%;
	text-align: center;
	position: sticky;
	top: 0;
	margin-top: -3%;
	z-index: 1000000;
}
.centermenu{
	width: 80%;
	height: 100%;
	display: inline-block;
	padding-top: 1.5%;
	padding-bottom: 1.5%;
	transition: .5s;
	text-align: center;
	background-color: white;
	border-radius: 5px;
	box-shadow: 1px 5px 10px grey;
}
.centermenu2{
	width: 95%;
	height: 100%;
	display: inline-block;
	transition: .5s;
}
.centermenu2>img{
	float: left;
}
.centermenu2>div{
	display: none;
}
.centermenu2>ul>i{
	width: 30px;
	height: 30px;
	float: right;
	background-color: #f3f6fa;
	border-radius: 50%;
	font-size: 14px;
	line-height: 30px;
	margin-top: 1%;
	transition: .5s;
	cursor: pointer;
}
.centermenu2>ul>i:hover{
	background-color: #4a89dc;
	color: white;
}
.centermenu2>ul{
	width: 78%;
	height: 100%;
	float: right;
}
.centermenu2 ul{
	list-style: none;
}
.centermenu2>ul>li{
	float: left;
	cursor: pointer;
	margin-right: 1%;
	border-radius: 5px;
	padding: 1.5%;
	padding-top: 2%;
	padding-bottom: 1.8%;
	transition: .3s;
}
.centermenu2>ul>li:hover{
	background-color: #4a89dc;
	border-bottom: 5px solid #4176bd;
}
.centermenu2>ul>li:hover>a{
	color: white;
}
.centermenu2>ul>li>a{
	text-decoration: none;
	color: black;
	font-weight: bold;
	font-size: 14px;
}
.centermenu2>ul>li>ul{
	width: 15%;
	position: absolute;
	text-align: left;
	background-color: white;
	border-top: 5px solid #4176bd;
	margin-top: 15px;
	margin-left: -12px;
	display: none;
}
.centermenu2>ul>li>ul>li{
	cursor: pointer;
	border-bottom: 1px solid grey;
	padding: 5%;
	transition: .5s;
}
.centermenu2>ul>li>ul>li:hover{
	background-color: #4a89dc;
}
.centermenu2>ul>li>ul>li:hover>a{
	color: white;
}
.centermenu2>ul>li>ul>li>a{
	text-decoration: none;
	color: black;
	font-size: 14px;
}
.main{
	width: 100%;
	height: 100%;
	text-align: center;
}
.center{
	width: 80%;
	height: 100%;
	display: inline-block;
	text-align: left;
}
.hovertruotlen{
	position: absolute;
  	bottom: 0;
  	left: 0;
  	right: 0;
  	background-color: white;
  	width: 100%;
  	height: 0;
  	transition: .5s;
}
.hovertruotxuong{
	position: absolute;
  	bottom: 100%;
  	left: 0;
  	right: 0;
  	background-color: #4a89dc;
  	width: 100%;
  	height: 0;
  	transition: .5s;
}
.hover{
	position: relative;
	overflow: hidden;
	cursor: pointer;
	background-color: white;
	color: #212438;
	transition: .5s;
}
.hover>span{
	z-index: 100;
	position: relative;
	width: 100%;
}
.hover:hover .hovertruotxuong{
	bottom: 0;
	height: 100%;
}
.hover:hover{
	color: white;
}
.gioithieu{
	width: 100%;
	height: 100%;
}
.divtrai{
	width: 45%;
	height: 100%;
	float: left;
	padding-top: 15%;
	padding-right: 5%;
}
.divtrai>h4{
	margin-top: 1.5%;
	margin-bottom: 1.5%;
}
.divtrai>p{
	font-size: 14px;
	line-height: 20px;
}
.hihi{
	color: #4a89dc;
}
.divtrai>div{
	float: left;
	padding: 2.5%;
	border-radius: 30px;
	margin-top: 5%;
	border: 1px solid #4a89dc;
	font-size: 14px;
	margin-right: 3%;
	font-weight: bold;
}
.hover2{
	position: relative;
	overflow: hidden;
	cursor: pointer;
	transition: .5s;
}
.hover2:hover .hovertruotxuong{
	bottom: 0;
	height: 100%;
}
.hover2>span{
	z-index: 100;
	position: relative;
	width: 100%;
}
.hover2:hover{
	color: white;
}
.hover3{
	position: relative;
	overflow: hidden;
	cursor: pointer;
	transition: .5s;
	background-color: #4a89dc;
	color: white;
}
.hover3:hover .hovertruotlen{
	height: 100%;
}
.hover3>span{
	z-index: 100;
	position: relative;
	width: 100%;
}
.hover3:hover{
	color: black;
}
.play{
	width: 10%;
	height: 620px;
	position: absolute;
	left: 49%;
	z-index: 200;
	background: linear-gradient(280deg, transparent 120px, white 122px); 
}
.play>div{
	width: 60px;
	height: 60px;
	margin-top: 200%;
	margin-left: 29%;
	border-radius: 50%;
	text-align: center;
	line-height: 60px;
	box-shadow: 1px 1px 10px grey;
	background-color: white;
	color: #4a89dc;
	transition: .5s;
	font-size: 20px;
	cursor: pointer;
}
.play>div:hover{
	background-color: #4a89dc;
	color: white;
}
.divphai{
 	width: 50%;
 	height: 100%;
 	float: left;
}
.divphai>img{
 	width: 100%;
 	height: 100%;
}
.swiper-slide>img{
	width: 100%;
}
.main2{
	width: 100%;
	height: 100%;
	background-color: #f3f6fa;
	text-align: center;
}
.vali{
	margin-top: -5%;
	position: relative;
	z-index: 200;
	display: inline-block;
	background-image: url(../image/features.jpg);
	box-shadow: 1px 0px 10px grey;
	background-size: cover;
}
.vali>div{
	width: 23.2%;
	height: 100%;
	float: left;
	background-color: #212438cc;
	margin-right: 1px;
	padding: 5%;
	text-align: center;
	position: relative;
}
.vali>div>div{
	display: inline-block;
	text-align: left;
}
.vali>div>div>p{
	width: 30px;
	height: 30px;
	line-height: 30px;
	background-color: white;
	border-radius: 50%;
	text-align: center;
	color: #4a89dc;
	position: absolute;
	font-size: 14px;
	box-shadow: 1px 0px 5px grey;
	margin-top: -.5%;
	margin-left: -.5%;
	font-weight: bold;
}
.vali>div>div>i{
	width: 70px;
	height: 70px;
	line-height: 70px;
	background-color: white;
	font-size: 24px;
	border-radius: 50%;
	text-align: center;
	color: #4a89dc;
	box-shadow: 1px 0px 10px grey;
	transition: .5s;	
}
.vali>div>h3{
	color: white;
	margin-top: 5%;
	margin-bottom: 5%;
}
.vali>div>p{
	color: white;
	font-size: 14px;
	line-height: 22px;
}
.vali>div:hover i{
	background-color: #4a89dc;
	color: white;
}
.thanhhover{
	width: 1.5%;
	height: 0;
	background-color: #4a89dc;
	position: absolute;
	right: 0;
	top: 0;
	transition: .7s;
}
.vali>div:hover .thanhhover{
	bottom: 0;
	height: 100%;
}
.tieude{
	width: 100%;
	height: 100%;
	margin-top: 10%;
	text-align: center;
}
.tieude>h1{
	position: relative;
	display: inline-block;
}
.tieude>h1>div{
	width: 100%;
	border-bottom: 1px solid grey;
	bottom: 0;
	margin-top: 8%;
}
.tieude>h1>div>i{
	font-size: 12px;
	color: #4a89dc;
	position: absolute;
	bottom: -5px;

}
.tieude>h1>p{
	position: absolute;
	top: -33%;
	left: -18%;
	display: inline-block;
	font-size: 50px;
	opacity: .2;
}
.what{
	text-align: center;
}
.what>p{
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	padding-left: 15%;
	padding-right: 15%;
	margin-top: 6%;
}
.data{
	width: 100%;
	height: 100%;
	margin-top: 7%;
	margin-bottom: 5%;
	float: left;
}
.data>div{
	width: 31%;
	height: 100%;
	float: left;
	margin-right: 3%;
	box-shadow: 0px 0px 30px grey;
	background-color: white;
}
.data>div>img{
	width: 100%;
}
.data>div>i{
	width: 50px;
	height: 50px;
	background-color: white;
	border-radius: 50%;
	text-align: center;
	line-height: 50px;
	color: #4a89dc;
	box-shadow: 0px 0px 10px grey;
	margin-left: 80%;
	margin-top: -8%;
	transition: .5s;
}
.data>div>div{
	width: 88%;
	margin: 6%;
}
.data>div>div>h3{
	margin-bottom: 5%;
	text-align: left;
	transition: .3s;
	cursor: pointer;
}
.data>div>div>h3:hover{
	color: #4a89dc;
}
.data>div>div>p{
	margin-top: 5%;
	font-size: 14px;
	line-height: 20px;
	text-align: left;
}
.data>div>div>h4{
	margin-top: 8%;
	margin-bottom: 15%;
	text-align: left;
	transition: .3s;
	cursor: pointer;
}
.data>div>div>h4:hover{
	color: #4a89dc;
}
.data>div:hover>i{
	background-color: #4a89dc;
	color: white;
}
.divview{
	display: inline-block;
	padding: 1.5%;
	border-radius: 30px;
	background-color: #4a89dc;
	color: white;
	font-size: 14px;
	margin-bottom: 10%;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	transition: .5s;
}
.truotlenmauden{
	position: absolute;
  	bottom: 0;
  	left: 0;
  	right: 0;
  	background-color: #212438;
  	width: 100%;
  	height: 0;
  	transition: .5s;
}
.divview>span{
	z-index: 100;
	position: relative;
}
.divview:hover .truotlenmauden{
	height: 100%;
}
.we{
	margin-top: 10%;
	margin-bottom: 10%;
	float: left;
	width: 100%;
}
.we>div{
	width: 50%;
	height: 100%;
	float: left;
}
.anhlamviec{
	width: 95%;
}
.we>div>div>img{
	width: 100%;
}
.agnelina{
	width: 60%;
	height: 100%;
	margin-left: 5%;
	background-color: #4a89dc;
	margin-top: -25%;
	z-index: 3;
	position: relative;
	padding: 5%;
	color: white;
	border-radius: 10px;
}
.agnelina>i{
	font-size: 400%;
	position: absolute;
	opacity: .3;
}
.agnelina>p{
	line-height: 20px;
}
.agnelina>h2{
	margin-top: 3%;
	margin-bottom: 3%;
}
.have>h4{
	color: #4a89dc;
}
.have>h2{
	margin-top: 1%;
	margin-bottom: 2%;
}
.have>p{
	font-size: 14px;
	line-height: 25px;
}
.phantram>div>p{
	margin-top: 10%;
	margin-bottom: 2%;
	font-weight: bold;
}
.phantram>div>div{
	width: 100%;
	height: 10px;
	background-color: #f6f6f6;
}
.phantram>div>div>div{
	height: 100%;
	background-color: #4a89dc;
	border-radius: 0 10px 10px 0;
	position: relative;
}
.phantram>div>div>div>p{
	width: 40px;
	height: 40px;
	background-color: #212438;
	color: white;
	font-weight: bold;
	text-align: center;
	line-height: 40px;
	font-size: 14px;
	right: 0;
	position: absolute;
	top: -50px;
}
.phantram>div>div>div>p>span{
	width: 10px;
    height: 10px;
    background-color: #212438;
    left: 17px;
    position: absolute;
    bottom: -5px;
    transform: rotate(45deg);
}
.parallax{
	width: 100%;
	height: 100%;
	position: relative;
	padding-top: 1.6%;

}
.divtrai2{
	width: 50%;
	height: 100%;
	left: 0;
	position: absolute;
	background-color: #4a89dcd4;
}
.divphai2{
	width: 50%;
	height: 100%;
	right: 0;
	position: absolute;
	background-color: #2124389e;
}
.cheoxanh{
	width: 10%;
	height: 100%;
	position: absolute;
	background: linear-gradient(259deg, transparent 123px, #4a89dcd4 124px);
	left: 50%;
	z-index: 1;
}
.maintrong{
	width: 80%;
	height: 100%;
	position: relative;
	display: inline-block;
	z-index: 10;
	margin-top: 6%;
	margin-bottom: 5%;
}
.maintrong>div{
	width: 50%;
	height: 100%;
	float: left;
	text-align: left;
	color: white;
}
.maintrong>div>div{
	width: 90%;
}
.maintrong>div>div>h1>span{
	text-decoration: underline;
	font-style: italic;
}
.maintrong>div>div>p{
	font-size: 14px;
	line-height: 20px;
	margin-top: 5%;
	margin-bottom: 5%;
}
.maintrong>div>div>div{
	padding: 3%;
	background-color: white;
	color: black;
	border: 1px solid white;
	border-radius: 5px;
	display: inline-block;
	font-size: 14px;
	margin-top: 2%;
	transition: .5s;
}
.maintrong>div>div>div:hover{
	background-color: #ffffff00;
	color: white;
}
.maintrong>div>img{
	width: 100%;
}
.maintrong>div>span{
	font-size: 20px;
	position: absolute;
	top: 40%;
	background-color: white;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	color: #4a89dc;
	text-align: center;
	line-height: 50px;
	left: 73%;
	transition: .5s;
}
.maintrong>div>span:hover{
	background-color: #4a89dc;
	color: white;
}
.theptieude{
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	padding-left: 15%;
	padding-right: 15%;
	margin-top: 6%;
}
.donganh{
	width: 95%;
	margin-top: 5%;
	margin-left: auto;
  	margin-right: auto;
  	position: relative;
  	overflow: hidden;
  	list-style: none;
  	padding: 0;
  	z-index: 1;
}
.nutbam{
	margin-top: 5%;
	position: relative;
	text-align: center;
	margin-bottom: 5%;
}
.nutbam>div{
	display: inline-block;
	position: relative;
	width: 10%;
}
.truotduoithongtin{
	position: absolute;
  	bottom: 0;
  	left: 0;
  	right: 0;
  	background-color: #4a89dc9e;
  	width: 100%;
  	height: 0;
  	transition: .5s;
  	color: white;
  	text-align: left;
  	padding-left: 10%;
}
.truotduoithongtin>h4{
	margin-top: 30%;
	margin-bottom: 5%;
}
.truotduoithongtin>p{
	padding-right: 10%;
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 5%;
}
.truotduoithongtin>i{
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	border-radius: 50%;
	background-color: white;
	color: black;
	font-size: 14px;
}
.swiper-slide{
	overflow: hidden;
}
.swiper-slide:hover .truotduoithongtin{
	height: 100%;
}
.with{
	width: 100%;
	margin-top: 10%;
	margin-bottom: 10%;
	display: inline-block;
}
.divtrai3{
	width: 60%;
	height: 100%;
	float: left;
}
.divtrai3>h4{
	color: #4a89dc;
}
.divtrai3>h1{
	margin-top: 1%;
	margin-bottom: 2%;
}
.divtrai3>p{
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 2%;
	padding-right: 5%;
}
.divtrai3>div>div{
	width: 45%;
	height: 100%;
	margin-right: 5%;
	background-color: white;
	box-shadow: 0px 0px 30px grey;
	float: left;
	margin-top: 4.5%;
	padding-top: 4%;
	padding-bottom: 4%;
}
.divtrai3>div>div>i{
	width: 50px;
	height: 50px;
	border: 1px solid #d0cfcf;
	border-radius: 50%;
	text-align: center;
	line-height: 50px;
	color: #4a89dc;
	margin-left: -5%;
	background-color: white;
	transition: .5s;
}
.divtrai3>div>div>div{
	width: 80%;
	float: right;
}
.divtrai3>div>div>div>p{
	padding-right: 5%;
	line-height: 20px;
	margin-top: 5%;
}
.divtrai3>div>div:hover>i{
	background-color: #4a89dc;
	color: white;
}
.divphai3{
	width: 40%;
	height: 100%;
	float: left;
}
.divphai3>img{
	width: 100%;
}
.main3{
	width: 100%;
	height: 100%;
	background-image: url(../image/map.png);
	background-color: #212438;
	text-align: center;
}
.mautieude{
	color: white;
}
.blog{
	width: 100%;
	height: 100%;
	background-image: url(../image/test-bg.jpg);
	margin-top: 5%;
	margin-bottom: 8%;
	background-size: cover;
	float: left;
}
.blog>div{
	width: 45%;
	height: 100%;
	padding: 3%;
	background-color: white;
	float: right;
	margin-bottom: -5%;
    margin-top: 5%;
    margin-right: 5%;
}
.blogslide{
	width: 95%;
	margin-top: 5%;
	margin-left: auto;
  	margin-right: auto;
  	position: relative;
  	overflow: hidden;
  	list-style: none;
  	padding: 0;
  	z-index: 1;
}
.nutbam2{
	margin-top: 5%;
	position: relative;
	text-align: center;
	margin-bottom: 5%;
}
.nutbam2>div{
	display: inline-block;
	position: relative;
	width: 25%;
}
.blogtrong>p{
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 5%;
}
.blogtrong>div>img{
	width: 80px;
	height: 80px;
	border-radius: 50%;
	border: 5px solid #f3f6fa;
	transition: .5s;
}
.blogtrong>div>h3{
	margin-top: 2%;
	margin-bottom: 2%;
}
.blogtrong>div>i{
	position: absolute;
	right: 0;
	top: 50%;
	font-size: 100px;
	color: #dbe8f8;
}
.blogtrong:hover img{
	border: 5px solid #4a89dc;
}
.read{
	margin-top: 8%;
}
.read>div{
	width: 29%;
	margin-right: 3%;
	float: left;
	padding: 1%;
	position: relative;
	background-color: white;
	box-shadow: 0px 0px 30px grey;
}
.read>div>img{
	width: 100%;
	margin-top: -10%;
	margin-bottom: 5%;
}
.read>div>p{
	position: absolute;
	top: 0;
	z-index: 2;
	left: 10%;
	cursor: pointer;
	padding: 3%;
	display: inline-block;
	border-radius: 30px;
	border: 2px solid white;
	color: white;
	background-color: #4a89dc;
	box-shadow: 0px 0px 3px gray;
}
.gro{
	font-size: 14px;
	padding-top: 5%;
	padding-bottom: 5%;
	border-bottom: 1px solid gray;
}
.gro>p{
	display: inline-block;
	padding-right: 2%;
	margin-right: 1%;
}
.gro>p>i{
	color: #4a89dc;
	padding-right: 3px;
}
.read>div>div{
	padding: 5%;
}
.read>div>div>p{
	margin-top: 5%;
	margin-bottom: 5%;
	font-size: 14px;
	line-height: 20px;
}
.read>div>div>h3{
	transition: .5s;
	cursor: pointer;
	font-size: 18px;
}
.read>div>div>h3:hover{
	color: #4a89dc;
}
.readmore{
	display: inline-block;
	padding: 5%;
	border-radius: 30px;
	border: 1px solid gray;
	font-size: 14px;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	transition: .5s;
}
.readmore>p{
	z-index: 2;
	position: relative;
	font-weight: bold;
}
.readmore:hover .hovertruotxuong{
	bottom: 0;
	height: 100%;
}
.readmore:hover{
	color: white;
}
.divview2{
	text-align: center;
	margin-top: 5%;
	float: left;
	width: 100%;
}
.main4{
	width: 100%;
	height: 100%;
	background-image: url(../image/map.png);
	text-align: center;
}
.donglogo{
	position: relative;
	padding: 5%;
	background-color: white;
	border-bottom: 5px solid #4a89dc;
	margin-top: -6%;
}
.donglogotrong{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}
.thongtinlienhe{
	width: 100%;
	margin-top: 5%;
	margin-bottom: 5%;
	float: left;
}
.thongtinlienhe>div{
	width: 31%;
	margin-right: 3%;
	float: left;
}
.thongtinlienhe>div>hr{
	margin-top: 5%;
	margin-bottom: 5%;
}
.chutrai>span{
	font-size: 14px;
	line-height: 20px;
}
.chutrai>p{
	transition: .5s;
	cursor: pointer;
	font-size: 14px;
}
.chutrai>p:hover{
	color: #4a89dc;
}
.chutrai>p>i{
	width: 25px;
	height: 25px;
	text-align: center;
	line-height: 25px;
	border: 1px solid gray;
	font-size: 14px;
	margin-right: 2%;
	margin-top: 5%;
}
.chutrai>p>span{
	font-weight: bold;
}
.chutrai>div{
	padding: 4%;
	border-radius: 30px;
	margin-top: 5%;
	border: 1px solid #4a89dc;
	font-size: 14px;
	margin-right: 3%;
	font-weight: bold;
	display: inline-block;
}
.chugiua>div>div{
	float: left;
	width: 50%;
	font-weight: bold;
}
.chugiua>div>div>p{
	margin-bottom: 10%;
	transition: .5s;
	cursor: pointer;
	font-size: 14px;
}
.chugiua>div>div>p:hover{
	color: #4a89dc;
}
.chuphai>p{
	font-size: 14px;
	line-height: 20px;
}
.chuphai>input{
	width: 90%;
	background-color: #f3f6fa;
	outline: none;
	padding: 5%;
	border: none;
	margin-top: 10%;
}
.chuphai>div{
	margin-top: 5%;
	padding: 5%;
	border-radius: 5px;
}
.cuoicung{
	width: 100%;
	height: 100%;
	background-color: #212438;
	text-align: center;
}
.divcuoicung>div{
	width: 50%;
	height: 100%;
	float: left;
	padding-top: 1.5%;
	padding-bottom: 1%;
	text-align: right;
	color: white;
}
.divcuoicung>div>p{
	text-align: left;
	margin-top: 1%;
	font-size: 14px;
}
.divcuoicung>div>i{
	text-align: center;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	line-height: 30px;
	margin-left: 1%;
	transition: .5s;
	cursor: pointer;
}
.divcuoicung>div>i:hover{
	background-color: #4a89dc;
}







/*bánh răng quay*/
.banhrang {
    position: fixed;
    top: 200px;
    right: 0;
    z-index: 999;
}
.banhrang>div{
    padding: 12px;
    box-shadow: -2px 0px 8px gray;
    border-radius: 10px 0 0 10px;
    cursor: pointer;
    background-color: white;
}
.banhrang>div>i{
	font-size: 24px;
    color: #4a89dc;
	animation: xoayvong 2s linear 0s infinite;
}
@keyframes xoayvong {
	from{
	    -webkit-transform:rotate(0deg);
	    -moz-transform:rotate(0deg);
	    -o-transform:rotate(0deg);
	}
    to{
	    -webkit-transform:rotate(360deg);
	    -moz-transform:rotate(360deg);
	    -o-transform:rotate(360deg);
	}
}
/*cuộn đầu trang*/
.btn-top {
	width: 50px;
	height: 50px;
    bottom: 20px;
    cursor: pointer;
    display: none;
    padding: 0;
    position: fixed;
    right: 20px;
    z-index: 9999;
    border-radius: 50%;
    box-shadow: 0px 0px 10px grey;
    text-align: center;
    line-height: 50px;
    transition: .5s;
    background-color: white;
}
.btn-top:hover{
	background-color: #4a89dc;
}
.btn-top i{
	transition: .5s;
}
.btn-top:hover i{
	color: white;
	transform: rotate(-45deg);
}

@media all and (min-width: 481px) and (max-width: 769px){
	.info div{
		display: none;
	}
	.info{
		text-align: center;
	}
	.info>span{
		float: none;
	}
	.info>p{
		float: none;
	}
	.centermenu2{
		text-align: center;
	}
	.centermenu2>img{
		display: inline-block;
		float: none;
	}
	.centermenu2>ul{
		float: none;
		width: 100%;
	}
	.centermenu2>ul>li>a{
		font-size: 11px;
	}
	.centermenu2>ul>li{
		margin-right: .5%;
		padding: .5%;
		padding-top: 1.5%;
		padding-bottom: 1%;
		margin-bottom: 2%;
	}
	.centermenu2>ul>li>ul{
		margin-top: 7px;
		margin-left: 0;
	}
	.centermenu2>ul>li>ul>li{
		padding: 2%;
	}
	.centermenu2>ul>li>ul>li>a{
		font-size: 11px;
	}
	.centermenu{
		width: 90%;
	}
	.center{
		width: 90%;
	}
	.divtrai{
		padding-bottom: 10%;
	}
	.divtrai>h1{
		font-size: 26px;
	}
	.divtrai>h4{
		font-size: 16px;
	}
	.play{
	background: linear-gradient(278deg, transparent 93px, white 95px)
	}
	.vali>div>h3{
		font-size: 16px;
	}
	.vali>div>p{
		font-size: 12px;
	}
	.data>div>div>h3{
		font-size: 16px;
	}
	.data>div>div>p{
		font-size: 12px;
	}
	.data>div>div>h4{
		font-size: 14px;
	}
	.we>div{
		width: 100%;
		text-align: center;
	}
	.anhlamviec{
		width: 80%;
		display: inline-block;
	}
	.agnelina{
		margin-left: 14%;
		text-align: left;
	}
	.agnelina>i{
		left: 45px;
	}
	.have{
		text-align: left;
		margin-top: 5%;
	}
	.maintrong{
		width: 90%;
	}
	.maintrong>div>div>h1{
		font-size: 26px;
	}
	.cheoxanh{
		background: linear-gradient(259deg, transparent 73px, #4a89dcd4 75px);
	}
	.nutbam>div{
		width: 15%;
	}
	.divphai3>img{
		display: none;
	}
	.divtrai3{
		width: 100%;
	}
	.blog>div{
		width: 92%;
	}
	.chugiua>div>div>p>i{
		display: none;
	}
}


@media all and (min-width: 49px) and (max-width: 480px){
	.info div{
		display: none;
	}
	.info{
		text-align: center;
	}
	.info>span{
		float: none;
		width: 100%;
		display: inline-block;
	}
	.info>p{
		float: none;
		width: 100%;
	}
	.centermenu2{
		text-align: center;
	}
	.centermenu2>img{
		display: inline-block;
		float: left;
	}
	.centermenu2>ul{
		display: none;
	}
	.centermenu2>div{
		float: right;
		display: inline-block;
		margin-top: 5%;
	}
	#menumobile{
		padding-top: 8%;
		padding-bottom: 8%;
		padding-right: 12%;
		padding-left: 12%;
		width: 100%;
		background-color: #212438;
		display: inline-block;
		color: white;
		margin-left: -48%;
		border-radius: 5px;
	}
	#noidungmenumobile{
		background-color: white;
		position: absolute;
		left: 0;
		top: 0;
		width: 60%;
		text-align: left;
		padding: 5%;
		list-style: none;
		display: none;
		overflow: auto;
		height: 600%;
	}
	#noidungmenumobile>li{
		margin-top: 5%;
		margin-bottom: 5%;
	}
	#noidungmenumobile>li>a{
		text-decoration: none;
		color: black;
		font-weight: bold;
	}
	.noidungmenumobile2{
		padding: 5%;
		display: none;
	}
	.noidungmenumobile2>li{
		margin-top: 5%;
		margin-bottom: 5%;
	}
	.noidungmenumobile2>li>a{
		text-decoration: none;
		color: black;
		font-weight: bold;
	}
	.centermenu{
		width: 90%;
	}
	.center{
		width: 90%;
	}
	.divtrai{
		width: 100%;
		padding-bottom: 20%;
	}
	.divtrai>h1{
		font-size: 26px;
	}
	.divtrai>h4{
		font-size: 16px;
	}
	.play{
		display: none;
	}
	.divphai{
		display: none;
	}
	.vali>div{
		width: 90%;
		margin: 0;
		margin-bottom: 1px;
	}
	.vali>div>h3{
		font-size: 16px;
	}
	.vali>div>p{
		font-size: 12px;
	}
	.data>div>div>h3{
		font-size: 16px;
	}
	.data>div>div>p{
		font-size: 12px;
	}
	.data>div>div>h4{
		font-size: 14px;
	}
	.what>p{
		font-size: 12px;
		padding: 0;
	}
	.theptieude{
		font-size: 12px;
		padding: 0;
	}
	.tieude{
		font-size: 16px;
	}
	.tieude>h1>p{
		font-size: 40px;
		top: -33%;
    	left: 0%;
	}
	.data>div{
		width: 100%;
		margin: 0;
		margin-top: 5%;
		margin-bottom: 5%;
	}
	.divview{
		padding: 4.5%;
	}
	.we>div{
		width: 100%;
		text-align: center;
	}
	.anhlamviec{
		width: 100%;
		display: inline-block;
		margin: 0;
	}
	.agnelina{
		width: 90%;
		text-align: left;
		margin: 0;
		margin-top: -50%;
		font-size: 14px;
		margin-bottom: 5%;
	}
	.have{
		text-align: left;
		margin-top: 5%;
		font-size: 14px;
	}
	.phantram>div>div>div>p{
		font-size: 12px;
		width: 30px;
		height: 30px;
		top: -40px;
		line-height: 30px;
	}
	.phantram>div>div>div>p>span{
		left: 11px;
	}
	.divtrai2{
		width: 100%;
	}
	.cheoxanh{
		display: none;
	}
	.divphai2{
		display: none;
	}
	.maintrong{
		width: 90%;
	}
	.maintrong>div{
		width: 100%;
	}
	.maintrong>div>div{
		width: 100%;
		margin-bottom: 15%;
	}
	.maintrong>div>div>h1{
		font-size: 26px;
	}
	.maintrong>div>div>div{
		padding: 5%;
	}
	.maintrong>div>span{
		top: 76%;
		left: 42%;
	}
	.maintrong>div>img{
		margin-bottom: 10%;
	}
	.nutbam{
		margin-top: 10%;
		margin-bottom: 25%;
	}
	.nutbam>div{
		width: 50%;
	}
	.divphai3>img{
		display: none;
	}
	.divtrai3{
		width: 100%;
	}
	.divtrai3>div>div{
		width: 100%;
		margin-right: 0;
		margin-bottom: 5%;
	}
	.blog{
		margin-bottom: 20%;
	}
	.blog>div{
		width: 94%;
		margin: 0;
	}
	.nutbam2{
		margin-top: 10%;
		margin-bottom: 10%;
	}
	.read{
		margin-top: 20%;
	}
	.read>div{
		width: 99%;
		margin-right: 0;
		margin-top: 5%;
		margin-bottom: 20%;
	}
	.thongtinlienhe>div{
		width: 100%;
		margin-right: 0;
		margin-top: 3%;
		margin-bottom: 10%;
	}
	.chugiua>div>div>p>i{
		display: none;
	}
	.divcuoicung{
		margin-top: 5%;
		margin-bottom: 5%;
	}
	.divcuoicung>div{
		width: 100%;
		float: none;
		text-align: center;
	}
	.divcuoicung>div>p{
		text-align: center;
	}
}